	<br><br>

	<table width="100%" border="0" cellspacing="1" cellpadding="0" class="mainfooter">
	<tr>
		<td align="center" class="line0">Created 2005-2006 - By <a href="http://www.eifelzocker.de" target="_blank">deltaray</a></td>
			<!-- IF ShowPageRenderStats="true" -->
		<td align="center" class="line2">
			Page rendered in <B>{PAGERENDERTIME}</B> seconds
			&nbsp;|&nbsp;Total DB Queries <B>{TOTALQUERIES}</B>
 		 </td>
			<!-- ENDIF ShowPageRenderStats="true" -->
	 </tr>
	 </table>
	
	</td>
  </tr>
</table>

<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
	<td colspan="2" background="{BASEPATH}images/admin/bg_bottom.gif" height="16"><img src="{BASEPATH}images/admin/bg_bottom.gif" height="16"></td>
</tr>
</table>

</body> 
</html>