<!-- INCLUDE include_header.html --> 

<br>

<table width="100%" cellpadding="0" cellspacing="5" border="0" align="center">
<tr>
	<td rowspan="2" width="10" valign="top" nowrap>&nbsp;</td>
	<td width="100%" valign="top" align="center">

		<form action="" method="GET">
		<table width="500" cellpadding="2" cellspacing="1" border="0" align="center" class="with_border">
		<tr>
			<td colspan="3" class="title" width="400" nowrap>{LN_SEARCH_TITLE}</td>
		</tr>
		<tr>
			<td class="cellmenu1"><B>{LN_SEARCH_STRING}</B></td>
			<td class="line1"><input type="text" name="search" value="{searchfor}" size="40" maxlength="32"></td>
			<td class="line0" rowspan="3" valign="middle" width="100" align="center"><input type="submit" value="Search"></td>
		</tr>
		<tr>
			<td class="cellmenu1"><B>{LN_SEARCH_BY}</B>:</td>
			<td class="line1">
				<select name="searchtype">
					<option value="1" {searchtype_selected_1}>{LN_SEARCH_PLAYERID}</option>
					<option value="3" {searchtype_selected_3}>{LN_SEARCH_PLAYERPBGUID}</option>
					<option value="2" {searchtype_selected_2}>{LN_SEARCH_PLAYERALIAS}</option>
				</select>
			</td>
		</tr>
		<tr>
			<td class="cellmenu1"><B>{LN_SEARCH_IGNORECOLORCODES}</B></td>
			<td align="left" class="line0"><input type="checkbox" name="ignorecolorcodes" value="yes" {IGNORECOLORCODES_CHECKED}></td>
		</tr>
		</table>
		</form>
		<br><br>
	</td>
	<td rowspan="2" width="10" valign="top" nowrap>&nbsp;</td>
</tr>

<tr>
	<td width="100%" valign="top" align="center">
	<!-- IF playersfound="false" -->
	<br><font class="ErrorMsg">{LN_SEARCH_NOPLAYERFOUND}</font><br><br><br><br>
	<!-- ENDIF playersfound="false" -->

	<!-- IF playersfound="true" -->
		<table width="500" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td colspan="2" class="title" width="400" nowrap>{LN_SEARCH_FOUND} '{searchfor}'</td>
		</tr>
		<tr>
			<td width="20" class="cellmenu1" align="center" nowrap><B>{LN_TOPPLAY_NUM}</B></td>
			<td width="100%" class="cellmenu1" align="center" nowrap><B>{LN_TOPPLAY_NAME}</B></td>
		</tr>

		<!-- BEGIN playersresults -->
		<tr>
			<td align="right" class="{cssclass}"><B>{Number}</B></td>
			<td class="{cssclass}"><A HREF="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</A></td>
		</tr>
		<!-- END playersresults -->

		</table>
	<!-- ENDIF playersfound="true" -->
	</td>
</tr>
</table>

<!-- INCLUDE include_footer.html -->
