<!-- INCLUDE include_header.html --> 

<br>

<!-- IF iserror="true" -->
	<center>
	<h3><font color="red">{LN_ERROR_UNKNOWNGAMETYPE}</font></h3>
	</center>
<!-- ENDIF iserror="true" -->

<!-- IF gametypeenabled="true" -->
<table width="100%" cellpadding="0" cellspacing="5" border="0" align="center">
<tr>
	<td width="10" valign="top" nowrap>&nbsp;</td>
	<td width="50%" valign="top">

		<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
		<tr>
			<td colspan="2" class="title" nowrap>{LN_GAMETYPE_DETAILS} '{GametypeDisplayName}'</td>
		</tr>
		</table>
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
		<tr>
			<td width="207" nowrap valign="top" class="line1">
			<img src="{GametypeImage}" alt="{GametypeDisplayName}" width="200">
			</td>
			<td width="100%" nowrap valign="top" class="line1" rowspan="3">
				<table width="100%" cellpadding="2" cellspacing="0" border="0" align="center" >
				<tr><td width="100%" class="cellmenu2" align="center"><B>{LN_GAMETYPE_DESCRIPTION}</B></td></tr>
				</table>
				<table width="100%" cellpadding="5" cellspacing="0" border="0" align="center" >
				<tr>
					<td width="100%">{Description}</td>
				</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td nowrap align="center" class="cellmenu2"><B>{LN_GAMETYPE_INGAMENAME}</B></td>
		</tr>
		<tr>
			<td nowrap valign="top" align="center" class="line1">{NAME}</td>
		</tr>
		</table>

	</td>
	<td width="10" valign="top" nowrap>&nbsp;</td>

	<td width="50%" valign="top">
			
	<!-- IF lastroundsenable="true" -->
		<table width="100%" cellpadding="1" cellspacing="0" border="0" align="center">
		<tr>
			<td class="title" nowrap>{LN_GAMETYPE_LASTROUNDS} '{GametypeDisplayName}'</td>
		</tr>
		</table>
		<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
		<tr>
			<td width="25" class="cellmenu1" align="center" nowrap><B>{LN_TOPPLAY_NUM}</B></td>
			<td colspan="1" width="210" class="cellmenu1" align="center" nowrap><B>{LN_LROUNDS_TIME}</B></td>
			<td colspan="2" width="100%" class="cellmenu1" align="center" nowrap><B>{LN_LROUNDS_DETAILS}</B></td>
		</tr>

		<!-- BEGIN lastrounds -->
		<tr>
			<td class="{cssclass}" align="center"><B>{Number}</B></td>
			<td class="{cssclass}"><img src="{BASEPATH}images/icons/date-time.png" width="16" align="left"><B>{TimePlayed}</B></td>
			<td class="{cssclass}" align="center"><img src="{BASEPATH}images/icons/arrow_right_blue.png" width="16" align="left"><A HREF="rounds-detail.php?id={ID}{additional_url}">{LN_PLAYER_DETAILS}</A></td>
			<td class="{cssclass}" align="left" nowrap><A HREF="info-maps.php?id={MAPNAME}{additional_url}"><img src="{MapImage}" width="20" alt="{FinalMapDisplayName}"></A>&nbsp;<B>{FinalMapDisplayName}</B></td>
		</tr>
		<!-- END lastrounds -->

		</table>
	<!-- ENDIF lastroundsenable="true" -->

	</td>
	<td width="10" valign="top" nowrap>&nbsp;</td>
</tr>
</table>
<!-- ENDIF gametypeenabled="true" -->

<!-- INCLUDE include_footer.html -->
