<!-- INCLUDE include_header.html --> 

<br>

<!-- IF iserror="true" -->
	<center>
	<h3><font color="red">{LN_ERROR_INVALIDMEDAL}</font></h3>
	</center>
<!-- ENDIF iserror="true" -->

<!-- IF medalsenabled="true" -->
<table width="100%" cellpadding="0" cellspacing="5" border="0" align="center">
<tr>
	<td width="50%" valign="top">

		<table width="100%" cellpadding="1" cellspacing="0" border="0" align="center">
		<tr>
			<td width="40%" valign="top">

				<table width="100%" cellpadding="0" cellspacing="0" border="0" align="center">
				<tr>
					<td colspan="3" class="title" nowrap>{LN_MEDAL_DETAILS}</td>
				</tr>
				</table>
				<table width="100%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border">
				<tr>
					<td colspan="2" width="128" nowrap valign="top" class="line1">

					<img src="{BASEPATH}images/medals/normal/{medalid}.png" style="filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='{BASEPATH}images/medals/normal/{medalid}.png', sizingMethod='scale')" width="128" height="256" name="{medalid}">
					<script>CheckAlphaPNGImage('{medalid}', '{BASEPATH}images/main/space.gif');</script>

					</td>
					<td width="100%" nowrap valign="top" class="line1" rowspan="4">
						<table width="100%" cellpadding="2" cellspacing="0" border="0" align="center" >
						<tr><td width="100%" class="cellmenu1" align="center"><B>{LN_MEDAL_DESCRIPTION}</B></td></tr>
						</table>
						<table width="100%" cellpadding="5" cellspacing="0" border="0" align="center" >
						<tr>
							<td width="100%">{medaldescription}</td>
						</tr>
						</table>
					</td>
				</tr>
				</table>

			</td>
			<td width="60%" valign="top">

			<!-- IF mostkillssenabled="true" -->
				<table width="95%" cellpadding="1" cellspacing="0" border="0" align="center">
				<tr>
					<td class="title" width="400" nowrap>{LN_MEDAL_TOPPLAYERS} ({web_detaillistsplayers} of {mostkills_count})</td>
				</tr>
				</table>

				<!-- IF mostkills_pagerenabled="true" -->
				<table width="95%" align="center" border="0" cellpadding="1" cellspacing="1" class="with_border">
				<tr>
					<td class="cellmenu2" nowrap><B>Pages: &nbsp; </B>
				<!-- BEGIN MOSTKILLSPAGES -->
					&nbsp;<a href="?id={weaponid}&mostkills_start={mypagebegin}&killedby_start={current_killedby_pagebegin}{additional_url}" target="_top">{mypagenumber}</a>
				<!-- END MOSTKILLSPAGES -->
					</td>
					<td nowrap width="100%"class="line2"><I>&nbsp;{MOSTKILLS_MOREPAGES}</I></td>
<!--					<td nowrap align="right" class="line2"><I>{LN_PLAYERS_ONLYLISTED} ({LN_PLAYERS_WITHMINPLAY}: <B>{web_mintime}</B> {LN_PLAYERS_SECANDMINKILLS}: <B>{web_minkills}</B>)</I></td>-->
				</tr>
				</table>
				<!-- ENDIF mostkills_pagerenabled="true" -->

				<table width="95%" cellpadding="0" cellspacing="1" border="0" align="center" class="with_border_alternate">
				<tr>
					<td width="20" class="cellmenu1" align="center" nowrap><B>{LN_TOPPLAY_NUM}</B></td>
					<td width="100%" class="cellmenu1" align="center" nowrap><B>{LN_TOPPLAY_NAME}</B></td>
					<td width="40" class="cellmenu1" align="center" nowrap><A HREF="players.php?sorting=Kills{additional_url}" class="cellmenu1_link" >{LN_TOPPLAY_KILLS}</A></td>
					<td width="200" class="cellmenu1" align="center" nowrap><A HREF="players.php?sorting=Deaths{additional_url}" class="cellmenu1_link" >{LN_TOPPLAY_Deaths}</A></td>
				</tr>

				<!-- BEGIN mostkills -->
				<tr>
					<td align="right" class="{cssclass}"><B>{Number}</B></td>
					<td class="{cssclass}"><A HREF="players-detail.php?id={PLAYERID}{additional_url}" title="{Alias}">{AliasAsHtml}</B></td>
					<td align="right" class="{cssclass}"><B>{AllKills}</B>&nbsp;</td>
					<td class="{cssclass}" align="left" nowrap>&nbsp;<img src="{BarImageLeft}" width="" height="9"><img src="{BarImageMiddle}" width="{KillBarWidth}%" height="9" alt="{KillBarPercent}"><img src="{BarImageRight}" width="" height="9">&nbsp;</td>

				</tr>
				<!-- END mostkills -->

				</table>

			<!-- ENDIF mostkillssenabled="true" -->
				<br>
			
			</td>
		</tr>
		</table>
</tr>
</table>
<!-- ENDIF medalsenabled="true" -->

<!-- INCLUDE include_footer.html -->
